<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penguinproject"
        tools:targetApi="31" >
        <activity
            android:name=".SettingsDiseaseModeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsVacationModeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsWeekStartAt"
            android:exported="false" />
        <activity
            android:name=".SettingsLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsForestThemeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsSoundActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsChangeModeActivity"
            android:exported="false" />
        <receiver android:name=".model.data.UpdateHabitReceiver" />
        <activity
            android:name=".IconPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".EditHabitActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitSavingActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitFocusActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitGoodNightActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitHealthyMindActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitTrendingActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitActivity"
            android:exported="false" />
        <activity
            android:name=".HabitsInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.AddTodoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        
        <receiver
            android:name=".utils.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.penguin_project.ACTION_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>